@use '../../variables.scss' as *;

.about-item-container {
    position: relative;
    display: flex;
    flex-direction: row;
    //background-color: $glass-color-1;
    padding: 1rem 5rem;
    margin: 1rem;
    border-radius: 2rem;

    .about-image {
        aspect-ratio: auto;
        height: 15em;
        width: auto;
    }

    .text-container {
        padding: 2em;
        display: flex;
        flex-direction: column;
    }

    &-reverse {
        @extend .about-item-container;
        flex-direction: row-reverse;
    }
}