@use '../../variables.scss' as *;

.topbar-container {
  background: rgba(255,255,255,0.05);
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 1em 10em;
  padding: 0.5em;
  border-radius: 0.5em;
  border: 1px rgba(255,255,255,0.5) solid;
  position: absolute;
  width: -webkit-fill-available;
  width: -moz-available;
}

.logo-container {
  display: inline-flex;
  position: absolute;
}

.nav-container {
  display: inline-flex;
  flex: 1;
  justify-content: center;
}

.logo-image {
  height: 2.5em;
  width: auto;
  padding-left: 1em;
}