@use '../../variables.scss' as *;

.photo-image-container {
    position: absolute;
    background-color: white;
    filter:drop-shadow(15px 15px 1px rgba(43, 43, 43,0.5));
    padding: 1em;
    width: auto;
    transition: all 0.2s;

    .image {
        
    }

    &:hover {
        scale: 1.2;
        
    }
}