@use '../../variables.scss' as *;

.image-view-container {
    display: flex;
    transition: all 0.2s;

    .image-view-content {
        z-index: 100;
    }
}

.image-view-bg {
    width: 200vw;
    height: 200vh;
    left:-10%;
    top:-10%;
    z-index: 50;
    position: fixed;
    background: rgba(2, 2, 2, 0.7);

}